h3 {
    padding-left: 20px;
}
.display-box {
    margin-top: 30px;
    display: flex;
}
.countries-box, .capitals-box, .languages-box {
    flex-basis: 350px;
}
.flags {
    display: flex;
    flex-direction: column;
}

img {
    width: 70px;
    box-shadow: 2px 2px 1px gray;
}
.display-box div {
    border: 1px solid teal;
}